/*
This is already applied by Bootstrap
* {
    box-sizing: border-box;
}
*/

/* This doesn't seem to be necessary (in this case) */
/*body {
  position: relative;
}*/

html, body {
  height: 100%;
}

#spaceship {
  position: absolute;
}
